@import "/fonts/Verdana.ttf";

html > body * {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
}

html > body {
   /* For fixed navbar */
   padding-top: 45px;
   background-color: #f4f4f4;
}

.text-dred {
   color: #be0924;
}

.text-right {
   text-align: right;
}

.btn-dwarn {
   background-color: #fc9807;
   color: #fff;
}
.btn-dlight {
   background-color: #e2e2e2;
   color: #333;
}

.no-padding {
   padding: 0;
}
.no-margin {
   margin: 0;
}

.no-border {
   border: none;
}

.no-border-left {
   border-left: none;
}

.no-border-right {
   border-right: none;
}

.bg-white {
   background-color: white;
}

.no-outline,
.no-outline:focus {
   outline: none;
}

.no-shadow,
.no-shadow:focus {
   box-shadow: none;
}

.dp-block {
   display: block;
}

.ps-relative {
   position: relative;
}

.just-center-middle {
   margin: 0 auto;
   display: table;
   vertical-align: middle;
}

.just-a-slice {
   border-left: 1px solid rgb(150,150,150);
}

.bg-main {
   background-color: #ffba00 !important;
}

.container {
   padding: 0;
}

@media (max-width: 720px) {
   .container {
      max-width: unset;
   }
}

@media (min-width: 720px) {
   .container {
      padding: 0 5%;
   }
}

.fmt-price::before {
   content: "$";
}

#nav-main {
   height: 45px;
   padding: 3px 15px;
}

@media (min-width: 720px) {
   #nav-main > div:nth-of-type(1) {
      padding: 0 5.5%;
   }
}

#nav-main > .navbar-toggler {
   border: none;
}

.nav-main__lang {
   font-size: .75rem;
   cursor: pointer;
   margin-right: 20px;
}
.nav-main__lang:hover {
   color: rgb(230, 230, 230) !important;
}
@media (max-width: 576px) {
   .nav-main__lang {
      margin-right: 10px;
   }
}

#btn-post {
   font-weight: bold;
   padding: 3px 6px;
   transition: color 0s;
}
#btn-post:hover {
   color: white;
   filter: brightness(0.95);
}

#page-content {
   background-color: white;
   /* border: 1px solid #e5e5e5; */
   border-top: none;
}