
.alert-content {
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.btn-submit {
  display: block;
  margin: 4px auto;
}

.thumbnail-container {
  height: 200px;
  width: 100%;
  padding: 0 3px;
  margin: 10px 0;
}

.thumbnail-list {
  padding: 0px;
  white-space:nowrap;
  list-style-type: none;
}

.thumbnail-list li {
   display: inline-block;
}

.thumbnail-image {
  display: block;
  padding:2px;
  margin: 2px;
  max-width: 200px;
  height: 200px;
}

h2 {
  text-align: center;
}

.banner {
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}

.play__list{
  background-color: bisque;
  padding-top: 4px;
  padding-left: 26px;
}

.navbar {
  background-color:#ffba00;
}