/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.formInput {
  max-width: 400px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.center-object {
  display: block;
  margin: auto;
}


.thumbnail-container {
  overflow-x: scroll;
  height: 200px;
  width: 100%;
  padding: 0 3px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.thumbnail-list {
  padding: 0px;
  white-space:nowrap;
  list-style-type: none;
}

.thumbnail-list li {
   display: inline-block;
}

.thumbnail-image {
  display: block;
  padding:2px;
  margin: 2px;
  max-width: 200px;
  height: 200px;
}

h2 {
  text-align: center;
}

.banner {
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}

.play__list{
  background-color: bisque;
  padding-top: 4px;
  padding-left: 26px;
}

.navbar{
  background-color: #007bFF !important;
}