.form-input {
  max-width: 500px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.btn-submit {
  display: block;
  margin: 4px auto;
}


.thumbnail-container {
  overflow-x: scroll;
  height: 200px;
  width: 100%;
  padding: 0 3px;
  margin: 10px 0;
  border: 1px solid #000000;
}

.thumbnail-list {
  padding: 0px;
  white-space:nowrap;
  list-style-type: none;
}

.thumbnail-list li {
   display: inline-block;
}

.thumbnail-image {
  display: block;
  padding:2px;
  margin: 2px;
  max-width: 200px;
  height: 200px;
}

h2 {
  text-align: center;
}

.banner {
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}

.play__list{
  background-color: bisque;
  padding-top: 4px;
  padding-left: 26px;
}

.navbar{
  background-color:#ffba00;
}
